$white-color: #ffffff;
$black-color: #000000;

$ligth-white1: #f6f6f0;
$ligth-white2: #e6e6e0;

$light-red: #ee6f2e;

$grey-color1: #828282;
$grey-color2: #8f8f84;
$grey-color3: #b8b8b8;

$loader-transparency: #000000cc;
